{{template templates.head mode}}
<html>
<script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<style>
.go-top {
 	position: fixed;
 	bottom: 2em;
 	right: 2em;
 	text-decoration: none;
 	color: white;
 	background-color: rgba(0, 0, 0, 0.3);
 	font-size: 12px;
 	padding: 1em;
 	display: none;
 }
</style>

{{navigation mode "_human_practices" "integrated_practices"}}


<div class="content">
  <div class="integratedPractices">
    {{markdown markdown.integrated_practices}}
    <div id="inserts"> 
      <center>
        <div class="ip-group-wrapper">
          <div class="btn-group btn-group-lg" role="group" aria-label="Integrated Practices">
            <span class="btn-group btn-group-lg" v-for="item in ip.items">
              <button class="btn btn-primary" v-on:click="ip.showing=item.title"> ^^item.title$$  </button>
            </span> 
          </div>
        </div>
      </center>
      
      <div class="row" v-if="ip.showing=='Guidebook'">
        {{markdown markdown.guidebook}}
      </div>
      <div class="row" v-if="ip.showing=='Applications'">
        {{markdown markdown.applications}}
      </div>
      <div class="row" v-if="ip.showing=='IAT'">
        {{markdown markdown.iat}}
      </div>
      <div class="row" v-if="ip.showing=='Snake35'">
        {{markdown markdown.snake35}}
      </div>
      <div class="row" v-if="ip.showing=='3D Printing'">
        {{markdown markdown.3d_printing}}
      </div>
      <div class="row" v-if="ip.showing=='Project Talks'">
        {{markdown markdown.project_talks}}
      </div>
    </div>
    <center>
      <div class="ip-group-wrapper">
        <div class="btn-group btn-group-lg" role="group" aria-label="Integrated Practices">
          <span class="btn-group btn-group-lg" v-for="item in ip.items">
            <button class="btn btn-primary" v-on:click="ip.showing=item.title"> ^^item.title$$  </button>
          </span> 
        </div>
      </div>
    </center>
  </div>
  
	
{{markdown markdown.integrated_practices}}
</div>
<a href="#" class="go-top">Go Top</a>
<script src="https://unpkg.com/vue"></script>
<script>
var integratedPracticesPage = new Vue({
  el: ".integratedPractices",
  delimiters: ['^^', '$$'],
  data:{
    show: 0,
    ip: {
    parent: "IP",
    showing:"Guidebook",
    items: [
      { title: "Guidebook" },
      { title: "Applications" },
      { title: "IAT" },
      { title: "Snake35" },
      { title: "3D Printing" },
      { title: "Project Talks" },
    ]
    }}}
)
</script>
<script>
$(document).ready(function() {
			// Show or hide the sticky footer button
			$(window).scroll(function() {
				if ($(this).scrollTop() > 200) {
					$('.go-top').fadeIn(200);
				} else {
					$('.go-top').fadeOut(200);
				}
			});
			
			// Animate the scroll to top
			$('.go-top').click(function(event) {
				event.preventDefault();
				
				$('html, body').animate({scrollTop: 0}, 300);
			})
		});
  </script>


</html>
{{template templates.footer mode}}
