{{template templates.head mode}}
<html>

{{navigation mode "awards" "model"}}
<div class="content">

  <div class="titleBox row" style="background: url({{image "" "directlink" mode}})">
    <div class="layer shade">
      <div class="squiggle squiggleForward col-xs-4"></div>
      <div class="titleCaption col-xs-4">
        <h1>
	 		Model
        </h1>
      </div>
      <div class="squiggle squiggleBackward col-xs-4"></div>
    </div>
  </div>


{{markdown markdown.model}}
{{markdown markdown.des}}
{{markdown markdown.bifc}}
{{markdown markdown.fret}}
</div>

</html>
{{template templates.footer mode}}
