{{template templates.head mode}}
<html>

{{navigation mode "awards" "model"}}
<div class="content">
{{markdown markdown.model}}
{{markdown markdown.des}}
{{markdown markdown.bifc}}
{{markdown markdown.fret}}
</div>

</html>
{{template templates.footer mode}}
