{{template templates.head mode}}
<html>
<script
   src="https://code.jquery.com/jquery-3.2.1.min.js"
   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<style>
.go-top {
 	position: fixed;
 	bottom: 2em;
 	right: 2em;
 	text-decoration: none;
 	color: white;
 	background-color: rgba(0, 0, 0, 0.3);
 	font-size: 12px;
 	padding: 1em;
 	display: none;
 }
 .content .row{
  margin: 0 auto;
 }
 .model img {
   max-width: 80% !important;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
</style>

{{navigation mode "awards" "model"}}
<div class="content">

  <div class="titleBox row" style="background: url({{image "" "directlink" mode}})">
    <div class="layer shade">
      <div class="squiggle squiggleForward col-xs-4"></div>
      <div class="titleCaption col-xs-4">
        <h1>
	 		Model
        </h1>
      </div>
      <div class="squiggle squiggleBackward col-xs-4"></div>
    </div>
  </div>

  <div class="model">
    {{markdown markdown.model}}
    <div id="inserts"> 
      <center>
        <div class="ip-group-wrapper">
          <div class="btn-group btn-group-lg" role="group" aria-label="Model">
            <span class="btn-group btn-group-lg" v-for="item in ip.items">
              <button class="btn btn-primary" v-on:click="ip.showing=item.title"> ^^item.title$$  </button>
            </span> 
          </div>
        </div>
      </center>
      
      <div class="row" v-if="ip.showing=='DEs'">
        {{markdown markdown.des}}
      </div>
      <div class="row" v-if="ip.showing=='BiFC'">
        {{markdown markdown.bifc}}
      </div>
      <div class="row" v-if="ip.showing=='FRET'">
        {{markdown markdown.fret}}
      </div>
    </div>
    <center>
      <div class="ip-group-wrapper">
        <div class="btn-group btn-group-lg" role="group" aria-label="Model">
          <span class="btn-group btn-group-lg" v-for="item in ip.items">
            <button class="btn btn-primary" v-on:click="ip.showing=item.title"> ^^item.title$$  </button>
          </span> 
        </div>
      </div>
    </center>
  </div>
</div>
<a href="#" class="go-top">Go Top</a>
<script src="https://unpkg.com/vue"></script>
<script>
var modelPage = new Vue({
  el: ".model",
  delimiters: ['^^', '$$'],
  data:{
    show: 0,
    ip: {
    parent: "IP",
    showing:"DEs",
    items: [
      { title: "DEs" },
      { title: "BiFC" },
      { title: "FRET" },
    ]
    }}}
)
</script>
<script>
$(document).ready(function() {
			// Show or hide the sticky footer button
			$(window).scroll(function() {
				if ($(this).scrollTop() > 200) {
					$('.go-top').fadeIn(200);
				} else {
					$('.go-top').fadeOut(200);
				}
			});
			
			// Animate the scroll to top
			$('.go-top').click(function(event) {
				event.preventDefault();
				
				$('html, body').animate({scrollTop: 0}, 300);
			})
		});
  </script>
</div>

</html>
{{template templates.footer mode}}
