{{template templates.head mode}}
<html>

{{navigation mode "_team" "team"}}
<div class="content">
<div class="titleBox row" style="background: url({{image "teamphoto.jpg" "directlink" mode}})">
<div class="layer shade">
<div class="squiggle squiggleForward col-xs-4"></div>
<div class="titleCaption col-xs-4">
<h1>
Our Lit Team
</h1>
</div>
<div class="squiggle squiggleBackward col-xs-4"></div>
</div>
</div>
{{markdown markdown.team}}
</div>
</html>
{{template templates.footer mode}}
